.principal{
    padding: 3%;
    margin-top: 30px;
}
#button-option-sale{
    color: rgb(127, 127, 127);
    background: none;
    border: none;
}
#button-option-sale:hover{
    color: rgb(187, 246, 243);
}
#button-option-list-sale{
    background: none;
    border-radius: 20px;
    color: #9FCDDC;
    border: 2px solid;
    font-size: 12px;
    
    width: 100%;
    height: auto;
}

#button-option-list-sale-delete, #button-option-list-sale-update, #btn-sale{
    
    background: rgb(23,138,191);
    border-radius: 20px;
    border: 1px solid;
    color: white;
    border-color: rgb(23,138,191);
    font-size: 12px;
    
    height: auto;
}
#button-option-list-sale-delete{
    
    
    position: absolute;
    right: 3%;
    
}

#options-buttons{
    position: relative;
}
@media only screen and (max-width: 766px) {
    #button-option-list-sale{
        margin-bottom: 10px;
    }
    #button-option-list-sale-update{
        margin-bottom: 10px;
        width: 100%;
        
    }
    #button-option-list-sale-delete{
        margin-left: 10px;
        width: 180px;
    }
    #options-buttons{
        margin-bottom: 30px;
    }
  }
#btn-sale{
    height: 40px;
    font-weight: bold;
}
#total-products{
    
    position: relative;
    display: flex;
}
#total, #number{
    font-weight: bold;
}
#number{
    position: absolute;
    right: 0%;
}

button.accordion {
    background-color: #F4F8FA;
    transition:  0.2s;
    border: none;
    width: 100%;
    margin-bottom: 5px;
}
#table-detail{
    border-radius: 5px;
    width: 100%;
    
}
button.accordion:hover {
    background-color: #e9e9e9;
}

button.accordion:after {
    content:"<";
transform:rotate(-90deg);
    font-size: 20px;
    color: #777;
    float: right;
    margin-left: 5px;
}
button.accordion.active:after {
    content:"<";
transform:rotate(90deg)
}
div.panel {
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;
}
#form-ci{
    margin-bottom: 10px;
}
#icon-add{
    background-color: #777;
    position: relative;
    margin-top: 10px;
    margin-bottom: 30px;
}
#btn-addClient{
    color: rgb(255, 255, 255);
    background-color: rgb(23,138,191);
    border-radius: 5px;
    border: none;
    right: 0%;
    position: absolute;
    font-size: 20px;
    
}
#btnFindClient{
    color: rgb(255, 255, 255);
    background-color: rgb(23,138,191);
    border-radius: 5px;
    border: none;
    font-size: 13px;
    
}
#btn-addClient:hover,#btn-sale:hover,#button-option-list-sale-delete:hover, #button-option-list-sale-update:hover, #btnFindClient:hover{
    background-color: rgb(42, 167, 225);
}
#button-option-list-sale:hover{
    background-color: rgb(236, 236, 236);
}

#modal-style{
    padding: 20px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }






.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}
